body {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}

/*Scroll back to top - button*/
#myBtn {
  display: flex;
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  border: 1px solid rgb(206, 206, 206);
  font-size: 10px;
  right: 15px; /* Place the button 30px from the right */
  z-index: 99;
  background-color: white;
  color: black;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px 5px;
}

#myBtn:hover {
  background-color: rgb(190, 189, 189);
}

/*Header section*/

.navbar {
  background-color: #333;
  overflow: hidden;
}

.logo h2 a {
  float: left;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding: 30px;
}

.dropdown {
  float: right;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 30px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Hero-banner section*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://source.unsplash.com/ylveRpZ8L1s);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}

/*Read more - button*/
#info {
  background-color: skyblue;
  overflow: hidden;
  font-family: inherit;
  border: none;
  padding: 15px 20px;
  margin: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#info:hover {
  background-color: rgb(192, 219, 229);
}

/*About me section*/
.about-me {
  display: flex;
  height: 250px;
}

.container-2-image {
  max-width: 30%;
  height: auto;
  padding: 20px;
  padding-left: 150px;
  object-fit: contain;
  align-self: flex-start;
}

.text-content {
  flex: 1 1 auto;
}

/*My skills section*/
.myskills {
  background-color: rgb(230, 225, 225);
}

.skill-card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: white;
  border: none;
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

#skill-card-1 {
  display: flex;
  flex-direction: column;
}

#skill-card-2 {
  display: flex;
  flex-direction: column;
}

#skill-card-3 {
  display: flex;
  flex-direction: column;
}

#skill-card-4 {
  display: flex;
  flex-direction: column;
}

/* Reset the default appearance */
progress {
  -webkit-appearance: none;
  width: 100px;
  height: 15px;
}

/*Footer section*/
footer {
  height: 450px;
  background-color: rgb(44, 40, 40);
  color: white;
  display: flex;
  justify-content: flex-start;
}

input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}

.text-part-1 {
  flex: 1;
  margin: 5px;
  padding: 10px;
}

.text-part-2 {
  flex: 1;
  margin: 5px;
  padding: 10px;
}

.contact-form {
  flex: 1;
}

textarea {
  border-radius: 5px;
}

button {
  background-color: lightskyblue;
  border: none;
  padding: 10px 15px;
  border-radius: 1px;
}
